@import "tailwindcss";
/* fontları import et */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@theme {
  --font-rubik: "Rubik", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --color-my-blue: #4a69e2;
  --color-my-yellow: #ffa52f;
  --color-my-white: #ffffff;
  --color-my-faWhite: #fafafa;
  --color-my-gray: #e7e7e3;
  --color-my-grayMain: #70706e;
  --color-my-grayDark: #232321;
}

@layer base {
  body {
    @apply py-[24px] px-[16px] xl:px-[60px] xl:py-[32px] md:py-[32px] md:px-[32px] lg:py-[32px] lg:px-[48px];
  }
}
@layer components {
  .header-buttons {
    @apply outline-none border-none text-sm md:text-[14px] cursor-pointer hover:bg-my-grayMain/10 transition-all duration-300  p-4 font-semibold w-[100%] whitespace-nowrap hover:outline-none hover:border-none hover:shadow-none;
  }
}

body {
  background-color: var(--color-my-gray);
  color: var(--color-my-grayDark);
  font-family: var(--font-rubik);
}
/* loader  ve animasyonu*/
.bubble {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #e37b12, #44c7ff);
  margin: 0 5px;
  animation: bubbleAnimation 1.2s ease-in-out infinite;
}
.bubble:nth-child(1) {
  animation-delay: 0s;
  transform: translateY(-5px);
}

.bubble:nth-child(2) {
  animation-delay: 0.3s;
  /* 2. bubble'ın mevcut animasyonu devam eder */
}

.bubble:nth-child(3) {
  animation-delay: 0.6s;
  transform: translateY(-15px);
}

@keyframes bubbleAnimation {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    transform: scale(1.4);
    opacity: 0.9;
    transform: translateY(-10px);
  }
}
